* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;

}

body {
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  overflow: hidden;
  background: rgb(0, 0, 0);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  place-content: center;
}